<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery.min.js"></script>
</head><body>
    <header th:insert="fragments/header.html :: nav"> </header>
    <div class="container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Status</th>
                <th scope="col">Customer</th>
                <th scope="col">Dishes</th>
                <th scope="col">Sum</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orderPages}">
                <th scope="row" th:text="${order.getId()}"></th>
                <td th:text="${order.getStatus()}"></td>
                <td th:text="${order.getUser().getName()}"></td>
                <td>
                    <ul>
                        <li th:each="orderDishes:${order.getOrderDishes()}" th:text="${orderDishes.dish.getName()} + ' - ' + ${orderDishes.getQuantities()}"></li>
                    </ul>
                </td>
                <td th:text="${order.getTotalPrice()} + ' $'"></td>
                <td>
                    <form method="post" th:action="@{orders/cook(orderId=${order.getId()})}">
                        <button type="submit" th:disabled="${order.getStatus().toString() != 'NEW'}" class="btn btn-primary" th:text="#{orders.cooking}"></button>
                    </form>
                </td>
                <td>
                    <form method="post" th:action="@{orders/deliver(orderId=${order.getId()})}">
                        <button type="submit" th:disabled="${order.getStatus().toString() != 'COOKED'}" class="btn btn-secondary" th:text="#{orders.deliver}"></button>
                    </form>
                </td>
                <td>
                    <form method="post" th:action="@{orders/complete(orderId=${order.getId()})}">
                        <button type="submit" th:disabled="${order.getStatus().toString() != 'PAID'}" class="btn btn-success" th:text="#{orders.complete}"></button>
                    </form>
                </td>
                <td>
                    <form method="post" th:action="@{orders/cancel(orderId=${order.getId()})}">
                        <button type="submit" th:disabled="${order.getStatus().toString() == 'CLOSED'}" class="btn btn-danger" th:text="#{orders.cancel}"></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li th:each="pageNumber: ${pageNumbers}" class="page-item"><a class="page-link" th:href="@{orders(page=${pageNumber})}" th:text="${pageNumber + 1}"></a></li>
            </ul>
        </nav>
    </div>
    <footer th:insert="fragments/footer.html :: footer"> </footer>
</body>
</html>