<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.min.js"></script>
</head>
<body>
    <header th:insert="fragments/header.html :: nav"> </header>
    <div class="container">
        <H1>ORDERS</H1>
    </div>
    <footer th:insert="fragments/footer.html :: footer"> </footer>
</body>
</html>