<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Restaurant</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample03">
                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
                    <li><a sec:authorize="isAuthenticated()" href="#" class="nav-link px-2 text-white">Menu</a></li>
                    <li><a href="#" class="nav-link px-2 text-white">About Us</a></li>
                    <li sec:authorize="hasRole('MANAGER')"><a href="#" class="nav-link px-2 text-white">Orders</a></li>
                </ul>
                <div class="text-end">
                    <button sec:authorize="!isAuthenticated()" type="button" class="btn btn-outline-light me-2" onclick="location.href='/login';">Login</button>
                    <button sec:authorize="!isAuthenticated()" type="button" class="btn btn-warning" onclick="location.href='/reg';">Sign-up</button>
                    <button sec:authorize="isAuthenticated()" type="button" class="btn btn-outline-light me-2" onclick="location.href='/logout';">Logout</button>
                </div>
            </div>
        </div>
    </nav>
</html>
