<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Main</title>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.min.js"></script>
    </head>
    <body>
        <header th:insert="fragments/header.html :: nav"> </header>
        <div class="container">
            <h1 th:text="#{main.title}"></h1>
            <img src="/img/home/main.jpg" class="img-fluid" alt="Responsive image">
        </div>
        <footer th:insert="fragments/footer.html :: footer"> </footer>
    </body>
</html>