<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.min.js"></script>
</head>
<body>
    <header th:insert="fragments/header.html :: nav"> </header>
    <div class="container">
        <h1 th:text="#{menu.Title}"></h1>
        <div class="menu-button-group">
            <div class="dropdown filter" id="filter">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuCategoryButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Category
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuCategoryButton">
                    <li th:each="category : ${T(com.github.uinet.project.domain.DishesCategory).values()}"><a class="dropdown-item" th:href="@{/menu(category=${category})}" th:text="${category}"></a></li>
                </ul>
            </div>
            <div class="dropdown filter" id="sort">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuSortButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Sort by
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuSortButton">
                    <li><a class="dropdown-item" th:href="@{/menu(sortField='name', sortDirection='ASC')}">Name Asc</a></li>
                    <li><a class="dropdown-item" th:href="@{/menu(sortField='name', sortDirection='DESC')}">Name Desc</a></li>
                    <li><a class="dropdown-item" th:href="@{/menu(sortField='price', sortDirection='ASC')}">Price Asc</a></li>
                    <li><a class="dropdown-item" th:href="@{/menu(sortField='price', sortDirection='DESC')}">Price Desc</a></li>
                    <li><a class="dropdown-item" th:href="@{/menu(sortField='category', sortDirection='ASC')}">Category Asc</a></li>
                    <li><a class="dropdown-item" th:href="@{/menu(sortField='category', sortDirection='DESC')}">Category Desc</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-9">
                <div class="row">
                    <div th:each="dish : ${dishPage}" class="card col-3" style="width: 18rem;">
                        <img th:src="'/img/dish/' + ${dish.getImg()}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${dish.getName()}"></h5>
                            <p class="card-text" th:text="${dish.getCategory()}"></p>
                            <p class="card-text" th:text="${dish.getDescription()}"></p>
                            <p class="card-text" th:text="${dish.getPrice()}"></p>
                            <form method="post" th:action="@{/menu/addToCart(dishId=${dish.getId()})}">
                                <button class="btn btn-primary" th:text="#{menu.buy}"></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                        <h5 class="card-title" th:text="#{cart.name}"></h5>
                    </div>
                    <div class="card-body">
                        <table class="table">
                            <tbody>
                                <tr th:each="ordersDish:${order.getOrderDishes()}">
                                    <th scope="row" th:text="${ordersDish.getDish().getName()}"></th>
                                    <td th:text="' - ' + ${ordersDish.getQuantities()} + ' ' + #{cart.quantities}"></td>
                                    <td>
                                        <form method="post" th:action="@{/menu/increase(dishId=${ordersDish.getDish().getId()})}">
                                            <button class="btn btn-primary">Inc</button>
                                        </form>
                                    </td>
                                    <td>
                                        <form method="post" th:action="@{/menu/reduce(dishId=${ordersDish.getDish().getId()})}">
                                            <button class="btn btn-primary">Dec</button>
                                        </form>
                                    </td>
                                    <td>
                                        <form method="post" th:action="@{/menu/removeFromCart(dishId=${ordersDish.getDish().getId()})}">
                                            <button class="btn-close"></button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-body">
                        <p class="card-text" th:text="#{cart.total} + ' '+ ${order.getTotalPrice()} + '$'"></p>
                        <form method="post" th:action="@{/menu/buy}">
                            <button class="btn btn-primary" th:text="#{cart.button}"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <nav>
            <ul class="pagination">
                <li class="page-item" th:if="${currentPage > 0}"><a class="page-link" th:href="@{menu(page=${currentPage - 1})}">Previous</a></li>
                <li th:each="pageNumber: ${pageNumbers}" class="page-item"><a class="page-link" th:href="@{menu(page=${pageNumber})}" th:text="${pageNumber + 1}"></a></li>
                <li class="page-item" th:if="${currentPage < pageNumbers.size()-1}"><a class="page-link" th:href="@{menu(page=${currentPage + 1})}">Next</a></li>
            </ul>
        </nav>
    </div>
    <footer th:insert="fragments/footer.html :: footer"> </footer>
</body>
</html>