<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <header th:insert="fragments/header.html :: nav"> </header>
    <div class="container">
        <h1>Menu</h1>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
        <div class="row">
            <div th:each="dish : ${dishes}" class="mb-3 col-md-3">
                <div class="card" style="width: 18rem;">
                    <!--<img src="..." class="card-img-top" alt="...">-->
                    <div class="card-body">
                        <h5 class="card-title" th:text="${dish.getName()}"></h5>
                        <p class="card-text" th:text="${dish.getCategory()}"></p>
                        <p class="card-text" th:text="${dish.getDescription()}"></p>
                        <p class="card-text" th:text="${dish.getPrice()}"></p>
                        <a href="#" class="btn btn-primary" th:text="#{menu.buy}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:insert="fragments/footer.html :: footer"> </footer>
</body>
</html>