<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My orders</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.min.js"></script>
</head>
<body>
<header th:insert="fragments/header.html :: nav"> </header>
<div class="container">
    <div th:if="${moneyError}" class="alert alert-danger" role="alert" th:text="#{my.orders.error}">
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col" th:text="#{my.orders.table.id}"></th>
            <th scope="col" th:text="#{my.orders.table.status}"></th>
            <th scope="col" th:text="#{my.orders.table.date}"></th>
            <th scope="col" th:text="#{my.orders.table.dishes}"></th>
            <th scope="col" th:text="#{my.orders.table.sum}"></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="order : ${orderPages}">
            <th scope="row" th:text="${order.getId()}"></th>
            <td th:text="${order.getStatus()}"></td>
            <td th:text="${order.getCreationDate()}"></td>
            <td>
                <ul>
                    <li th:each="orderDishes:${order.getOrderDishes()}" th:text="${orderDishes.dish.getName()} + ' - ' + ${orderDishes.getQuantities()}"></li>
                </ul>
            </td>
            <td th:text="${order.getTotalPrice()} + ' $'"></td>
            <td>
                <form method="post" th:action="@{myorders/pay(orderId=${order.getId()})}">
                    <button type="submit" th:disabled="${order.getStatus().toString() != 'DELIVERED'}" class="btn btn-primary" th:text="#{my.orders.pay}"></button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <nav>
        <ul class="pagination">
            <li class="page-item" th:if="${currentPage > 0}"><a class="page-link" th:href="@{myorders(page=${currentPage - 1})}">Previous</a></li>
            <li th:each="pageNumber: ${pageNumbers}" class="page-item"><a class="page-link" th:href="@{myorders(page=${pageNumber})}" th:text="${pageNumber + 1}"></a></li>
            <li class="page-item" th:if="${currentPage < pageNumbers.size()-1}"><a class="page-link" th:href="@{myorders(page=${currentPage + 1})}">Next</a></li>
        </ul>
    </nav>
</div>
<footer th:insert="fragments/footer.html :: footer"> </footer>
</body>
</html>